 .add-task-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 80px 50px 50px 80px;
     width: 100%;
 }

 main {
     display: flex;
     flex: 1;
     width: 100%;
     padding: 0px;
 }

 .card {
     flex: 1;
     min-width: 440px;
     max-width: 520px;
     height: 376px;
 }

 .main-content {
     display: flex;
     justify-content: center;
     flex-direction: row;
     gap: clamp(8px, 6vw, 120px);
     color: #2A3647;
     font-family: Inter;
     font-weight: 400;
     font-size: 1.25rem;
 }

 h1 {
     font-size: 60px;
     color: rgba(0, 0, 0, 1);
     font-weight: 700;
 }

 .h1-content {
     display: flex;
     justify-content: start;

 }

 .div-field {
     display: flex;
     flex-direction: column;
     margin-bottom: 24px;
 }

 .field {
     display: flex;
     flex-direction: column;
     margin-bottom: 18px;
 }

 label,
 p {
     font-size: 1rem;
     font-weight: 400;
     color: #2a3647;
     margin-bottom: 8px;
 }

 .required {
     color: rgba(255, 129, 144, 1);
     margin-left: 2px;
 }

 .custom-select-select {
     appearance: none;
 }

 input,
 select,
 textarea {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 input[type="radio"] {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     display: none;
     width: 0px;
     height: 0px;
     padding: 0;
     border-radius: 0%;
     border: 0px;
 }

 .input-styling {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
     cursor: pointer;
     flex-grow: 1;
 }

 .contact-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 16px;
     font-family: inter;
     font-weight: 400;
     font-size: 20px;
     color: #000000;
 }

 .selectContact {
     display: flex;
     padding: 10px 16px;
 }

 .gab {
     width: 48px;
     padding-right: 8px;
 }

 .contact-row:hover {
     background-color: #EEEEEE;
     border-radius: 12px;
 }

 .contact-left {
     display: flex;
     align-items: center;
 }

 .contact-name {
     font-size: 20px;
     color: #000000;
     font-weight: 400;
     padding-left: 12px;
 }

 .initials-circle {
     width: 42px;
     height: 42px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgba(255, 122, 0, 1);
     border: 2px solid rgba(255, 255, 255, 1);
     border-radius: 50%;
     color: rgba(255, 255, 255, 1);
     font-size: 16px;
     font-weight: 400;
 }

 .dropdown {
     display: block;
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transform: translateY(-8px);
     transition: max-height .3s ease, opacity .3s ease, transform .1s ease;
 }

 .dropdown.hidden {
     display: none;
 }

 .d-none {
     display: none;
 }

 .d-flex {
     display: flex;
     flex-direction: column;
 }

 .dropdown.open {
     max-height: 260px;
     opacity: 1;
     transform: translateY(0);
     overflow-y: auto;
     background-color: #ffff;
     transform: translate(0px, -5px);
     border-radius: 12px;
     margin-top: 10px;
 }

 .category-main {
     display: flex;
     flex-direction: column;
     gap: 4px
 }

 .checkbox-input {
     position: absolute;
     opacity: 0;
     width: 0;
     height: 0;
 }

 .checkbox {
     margin-bottom: 0;
 }

 .checkbox-box {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url("../assets/img/checkbox.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 24px 24px;
     cursor: pointer;
 }

 .checkbox-input:checked+.checkbox-box {
     background-image: url("../assets/img/checkboxChecked.svg");
     background-size: 24px 24px;
 }

 textarea {
     min-height: 120px;
     resize: vertical;
     font-family: 'Inter', sans-serif;
 }

 input::placeholder,
 textarea::placeholder {
     color: #D1D1D1;
     font-family: 'Inter', sans-serif;
 }


 input:focus,
 textarea:focus {
     border-color: #94d5f0;
 }

 .input-icon-arrow-down {
     background-image: url("../assets/img/arrow_drop_down-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 10px 10px;
     display: flex;
 }

 .input-icon-arrow-up {
     background-image: url("../assets/img/arrowUup.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 10px 10px;
     display: none;
     padding: 10px 10px;
     position: absolute;
     right: 17px;
     border: none;
     cursor: pointer;
     background-color: #fff;
 }

 .input-icon-calender {
     background-image: url("../assets/img/calendar-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 18px 20px;
     color: #D1D1D1;
     cursor: pointer;
 }

 .input-icon-calender::-webkit-calendar-picker-indicator {
     opacity: 0;
     appearance: none;
 }

 .img-container {
     position: absolute;
     display: none;
     align-items: center;
     gap: 8px;
     right: 8px;
 }

 .input-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     width: 100%;
 }

 .display-flex {
     display: flex;
     width: 81.5%;
     padding-left: 20px;
 }

 .Subtask-List {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .sub-container {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: center;
     gap: 16px;
     right: 8px;
     padding-bottom: 8px;
     margin-top: 6px;
 }

 .input-icon-cancel,
 .input-icon-accept {
     width: 24px;
     height: 24px;
     cursor: pointer;
     display: flex;
 }

 .seperator-small {
     background-color: rgba(209, 209, 209, 1);
     width: 1px;
     height: 24px;
     display: flex;
 }

 .center-seperator {
     display: flex;
     justify-content: center;
     align-items: baseline;
 }

 .seperator {
     background-color: rgba(209, 209, 209, 1);
     width: 1px;
     height: 425px;
 }

 .button-priority {
     display: flex;
     flex-grow: 1;
     justify-content: space-between;
     gap: 8px;
 }

 .btn-priority {
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     align-items: center;
     background: #ffffff;
     padding: 15px 26px;
     font-size: 20px;
     font-weight: 400;
     cursor: pointer;
 }

 #prio-urgent+svg path {
     fill: #FF3D00
 }

 #prio-urgent:checked+label {
     background-color: #FF3D00;
     border-color: #FF3D00;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 21px;
 }

 #prio-urgent:checked+label svg path {
     fill: #FFFFFF
 }

 #prio-medium+svg path {
     fill: #FFA800
 }

 #prio-medium:checked+label {
     background-color: #FFA800;
     border-color: #FFA800;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 21px;
 }

 #prio-medium:checked+label svg path {
     fill: #FFFFFF
 }

 #prio-low+svg path {
     fill: #7AE229
 }

 #prio-low:checked+label {
     background-color: #7AE229;
     border-color: #7AE229;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 21px;
 }

 #prio-low:checked+label svg path {
     fill: #FFFFFF
 }

 .input-Required {
     border: 1px solid #d1d1d1;
     border-radius: 8px;
     outline: none;
 }

 .input-focus {
     border-color: #29ABE2;
 }

 .input-error {
     border-color: #E60026;
 }

 .btn-priority:hover {
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
     cursor: pointer;
 }

 .btn-priority-flex {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .hover-show {
     display: none;
     gap: 8px;
 }

 .sub-container:hover .hover-show {
     display: flex;
 }

 .btn-clear {
     border-color: #2A3647;
     stroke: #2A3647;
 }

 .btn-clear:hover {
     border-color: #29ABE2;
     color: #29ABE2;
     stroke: #29ABE2;
 }

 .btn-createTask {
     background-color: #2A3647;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 1.313rem;
 }

 .btn-createTask:hover {
     background-color: #29ABE2;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 1.313rem;
 }

 .footer-add-task {
     display: flex;
     justify-content: space-between;
     align-items: end;
     margin-top: 430px;
 }

 .footer-flex {
     display: flex;
     gap: 12px;
 }

 .contactSearch {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 @media (max-width: 1420px) {
     .h1-content {
         margin-bottom: 20px;

     }

     .add-task-content {
         padding: 24px 12px 24px 12px;
     }

     .main-content {
         flex-direction: column;
     }

     input,
     textarea {
         margin-bottom: 8px;

     }

     .seperator {
         width: 425px;
         height: 1px;
     }

     .main-content {
         gap: clamp(32px, 3vw, 60px);
     }

     .field {
         margin-bottom: 0px;
     }

     .footer-add-task {
         margin-top: 0px;
         flex-direction: column;
     }
 }


 @media (max-width: 700px) {
     .add-task-content {
         padding: 24px 12px 24px 12px;
         ;
     }
 }

 @media(max-width: 480px) {
     .card {
         min-width: 240px;
     }

     .field {
         min-width: 240px;
     }

     .seperator {
         width: 240px;
     }

     .button-priority {
         flex-direction: column;
     }

     .btn-priority-flex {
         justify-content: center;
     }

     .wrapper {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     .div-field {
         margin-bottom: 8px;
     }

     .footer-flex {
         flex-direction: column;
         gap: 6px;
     }

 }