 .add-task-content {
     position: fixed;
     margin-top: 110px;
     margin-left: 328px;
     max-height: 100vh;
     max-width: 100vw;
 }

 .card {
     width: 440px;
     height: 376px;
 }

 .main-content {
     display: flex;
     justify-content: start;
     gap: 45px;
     color: #2A3647;
     font-family: Inter;
     font-weight: 400;
     font-size: 1.25rem;
 }

 h1 {
     font-size: 3.8rem;
     font-weight: 700;
     margin-bottom: 32px;
 }

 .h1-content {
     display: flex;
     justify-content: start;
 }

 form {
     display: flex;
     flex-direction: column;
     margin-bottom: 24px;
 }

 .field {
     display: flex;
     flex-direction: column;
     gap: 8px;
 }

 label,
 p {
     font-size: 1rem;
     font-weight: 400;
     font-style: regular;
     color: #2a3647;
 }

 .required {
     color: rgba(255, 129, 144, 1);
     margin-left: 2px;
 }

 .custom-select-select {
     appearance: none;
 }

 input,
 select,
 textarea {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 input[type="radio"] {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 0px;
     height: 0px;
     padding: 0;
     border-radius: 0%;
     border: 0px;
 }

 .input-styling {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 .name-list {
     display: flex;
     justify-content: space-between;
 }

 .contact-list {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .contact-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 16px;
     border-bottom: 1px solid #f5f5f5;
     cursor: pointer;
 }

 .contact-left {
     display: flex;
     align-items: center;
     gap: 18px;
 }

 .contact-name {
     font-size: 16px;
     color: #2a3647;
 }

 .input-checkbox {
     height: 18px;
     width: 18px;
 }

 .dropdown {
     display: block;
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transform: translateY(-8px);
     transition: max-height .3s ease, opacity .3s ease, transform .1s ease;
 }

 .dropdown.hidden {
     display: none;
 }

 .dropdown.open {
     max-height: 260px;
     opacity: 1;
     transform: translateY(0);
     overflow-y: auto;
     background-color: #ffff;
     transform: translate(0px, -5px);
     border-radius: 12px;
 }

 .checkbox-input {
     position: absolute;
     opacity: 0;
     width: 0;
     height: 0;
 }

 .checkbox-box {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url("../assets/img/checkbox.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 24px 24px;
     cursor: pointer;
 }

 .checkbox-input:checked+.checkbox-box {
     background-image: url("../assets/img/checkboxChecked.svg");
     
 }

 textarea {
     min-height: 120px;
     resize: vertical;
 }

 input::placeholder,
 textarea::placeholder {
     color: #D1D1D1;
 }

 input:focus,
 textarea:focus {
     border-color: #94d5f0;
 }

 .input-icon-arrow-down {
     background-image: url("../assets/img/arrow_drop_down-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 10px 10px;
     display: flex;
 }

 .input-icon-calender {
     background-image: url("../assets/img/calendar-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 18px 20px;
     color: #D1D1D1
 }

 .input-icon-calender::-webkit-calendar-picker-indicator {
     opacity: 0;
     appearance: none;
 }

 .input-icon-cheak {
     background-image: url("../assets/img/check-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 24px 24px;
 }

 .center-seperator {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .seperator {
     background-color: rgba(209, 209, 209, 1);
     width: 1px;
     height: 424px;
     display: flex;
 }

 .button-priority {
     display: flex;
     justify-content: space-between;
 }

 .btn-priority {
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 15px 26px;
     font-size: 20px;
     font-weight: 400;
     cursor: pointer;
 }

 .btn-priority-medium {
     fill: #FFA800;
 }

 .btn-medium-click {
     background-color: rgba(255, 168, 0, 1);
     color: rgba(255, 255, 255, 1);
     font-size: 21px;
     font-weight: bold;
 }

 .btn-Urgent-click {
     background-color: #FF3D00;
     color: rgba(255, 255, 255, 1);
     font-size: 21px;
     font-weight: bold;
 }

 .btn-Urgent-Low {
     background-color: #7AE229;
     color: rgba(255, 255, 255, 1);
     font-size: 21px;
     font-weight: bold;
 }

 .btn-priority:hover {
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
     cursor: pointer;
 }

 .btn-priority-flex {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .footer-add-task {
     display: flex;
     justify-content: start;
     align-items: end;
     gap: 530px;
     margin-top: 450px;
 }

 .assigned-to-contact {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 .initials-circle {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 32px;
     height: 32px;
     border-radius: 50%;
     color: white;
     font-size: 14px;
     font-weight: 600;
 }

 .initials-Variant1 {
     background-color: #FF7A00;
 }

 .initials-Variant2 {
     background-color: #6E52FF;
 }

 .initials-Variant3 {
     background-color: #9327FF;
 }

 .initials-Variant4 {
     background-color: #00BEE8;
 }

 .initials-Variant5 {
     background-color: #1FD7C1;
 }

 .initials-Variant6 {
     background-color: #FF5EB3;
 }

 .initials-Variant7 {
     background-color: #FF745E;
 }

 .initials-Variant8 {
     background-color: #FFA35E;
 }

 .initials-Variant9 {
     background-color: #FC71FF;
 }

 .initials-Variant10 {
     background-color: #FFC701;
 }

 .initials-Variant11 {
     background-color: #0038FF;
 }

 .initials-Variant12 {
     background-color: #C3FF2B;
 }

 .initials-Variant13 {
     background-color: #FFE62B;
 }

 .initials-Variant14 {
     background-color: #FF4646;
 }

 .initials-Variant15 {
     background-color: #FFBB2B;
 }