 .add-task-content {
     display: flex;
     flex-direction: column;
 }

 .card {
     width: 440px;
     height: 376px;
 }

 .main-content {
     display: flex;
     justify-content: start;
     flex-direction: row;
     gap: 45px;
     color: #2A3647;
     font-family: Inter;
     font-weight: 400;
     font-size: 1.25rem;
 }

 h1 {
     font-size: 3.8rem;
     font-weight: 700;
     margin-bottom: 32px;
 }

 .h1-content {
     display: flex;
     justify-content: start;
 }

 .div-field {
     display: flex;
     flex-direction: column;
     margin-bottom: 24px;
 }

 .field {
     display: flex;
     flex-direction: column;
     gap: 8px;
 }

 label,
 p {
     font-size: 1rem;
     font-weight: 400;
     font-style: regular;
     color: #2a3647;
 }

 .required {
     color: rgba(255, 129, 144, 1);
     margin-left: 2px;
 }

 .custom-select-select {
     appearance: none;
 }

 input,
 select,
 textarea {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 input[type="radio"] {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 0px;
     height: 0px;
     padding: 0;
     border-radius: 0%;
     border: 0px;
 }

 .input-styling {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 14px 16px;
     font-size: 1rem;
     outline: none;
 }

 .name-list {
     display: flex;
     justify-content: space-between;
 }

 .contact-list {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .contact-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 16px;
     cursor: pointer;
 }

 .contact-left {
     display: flex;
     align-items: center;
     gap: 18px;
 }

 .contact-name {
     font-size: 16px;
     color: #2a3647;
 }

 .input-checkbox {
     height: 18px;
     width: 18px;
 }

 .dropdown {
     display: block;
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transform: translateY(-8px);
     transition: max-height .3s ease, opacity .3s ease, transform .1s ease;
 }

 .dropdown.hidden {
     display: none;
 }

 .d-none {
     display: block;
 }

 .dropdown.open {
     max-height: 260px;
     opacity: 1;
     transform: translateY(0);
     overflow-y: auto;
     background-color: #ffff;
     transform: translate(0px, -5px);
     border-radius: 12px;
 }

 .checkbox-input {
     position: absolute;
     opacity: 0;
     width: 0;
     height: 0;
 }

 .checkbox-box {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url("../assets/img/checkbox.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 24px 24px;
     cursor: pointer;
 }

 .checkbox-input:checked+.checkbox-box {
     background-image: url("../assets/img/BGChangeWhite.svg");
     background-size: 24px 24px;

 }

 textarea {
     min-height: 120px;
     resize: vertical;
 }

 input::placeholder,
 textarea::placeholder {
     color: #D1D1D1;
 }

 input:focus,
 textarea:focus {
     border-color: #94d5f0;
 }

 .input-icon-arrow-down {
     background-image: url("../assets/img/arrow_drop_down-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 10px 10px;
     display: flex;
 }

 .input-icon-calender {
     background-image: url("../assets/img/calendar-icon.svg");
     background-repeat: no-repeat;
     background-position: bottom 50% right 20px;
     background-size: 18px 20px;
     color: #D1D1D1
 }

 .input-icon-calender::-webkit-calendar-picker-indicator {
     opacity: 0;
     appearance: none;
 }

 .img-container {
     position: absolute;
     display: none;
     align-items: center;
     gap: 8px;
     right: 8px;
 }

 .input-wrapper {
     position: relative;
     display: flex;
     align-items: center;
 }

 .seperator-small {
     background-color: rgba(209, 209, 209, 1);
     width: 1px;
     height: 24px;
     display: flex;
 }

 .display-flex {
     display: flex;        
     width: 81.5%;
 }

 .sub-container {     
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: center;
     gap: 8px;
     right: 8px;
     padding-bottom: 8px;
 }

 .input-icon-cancel,
 .input-icon-accept {
     width: 24px;
     height: 24px;
     cursor: pointer;
 }

 .center-seperator {
     display: flex;
     justify-content: center;
     align-items: baseline;
     height: 425px;
 }

 .seperator {
     background-color: rgba(209, 209, 209, 1);
     width: 1px;
     height: 425px;
     display: flex;
 }

 .button-priority {
     display: flex;
     justify-content: space-between;
 }

 .btn-priority {
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     background: #ffffff;
     padding: 15px 26px;
     font-size: 20px;
     font-weight: 400;
     cursor: pointer;
 }

 .btn-priority-medium {
     fill: #FFA800;
 }

 .btn-medium-click {
     background-color: rgba(255, 168, 0, 1);
     color: rgba(255, 255, 255, 1);
     font-size: 21px;
     font-weight: bold;
 }

 .btn-Urgent-click {
     background-color: #FF3D00;
     color: rgba(255, 255, 255, 1);
     font-size: 21px;
     font-weight: bold;
 }

 .btn-Urgent-Low {
     background-color: #7AE229;
     color: rgba(255, 255, 255, 1);
     font-size: 21px;
     font-weight: bold;
 }

 .btn-priority:hover {
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
     cursor: pointer;
 }

 .btn-priority-flex {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .footer-add-task {
     display: flex;
     justify-content: start;
     align-items: end;
     gap: 530px;
 }