.overlay-container .add-task-content {
  display: flex;
  padding: 40px;

  /* align-items: flex-start !important;    */

}



.overlay-container .h1-content {
  display: flex;
  justify-content: space-between;
}



.overlay-body .main-content {
  gap: 60px;
}

.overlay-body-task {
  padding: 10px 40px 10px 40px;
}

.overlay-container .card {
  max-width: 600px;
}



.overlay-container input,
.overlay-container select,
.overlay-container textarea {
  border: 1px solid #d1d5db;
}


.overlay-container .button-task {
  padding: 12px 24px;
  font-size: 1rem;
}



.overlay-container .overlay-header {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 0px solid #e0e0e0;
}

.overlay-container .overlay-content {
  /* background-color: white;
    border-radius: 8px;
    /* width: 77%; */
  /* max-width: 64%;
  max-height: 96%; */
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s ease-out;
}



.overlay-container .footer-add-task {
  margin-top: 120px !important;
  /* justify-content: flex-end !important; */
}

.overlay-container .footer-add-task .btn-priority-flex {
  display: flex;

}

.main-content {
  gap: clamp(8px, 2vw, 120px);
}