/* Responsive */
@media (max-width: 1424px) {
  .board-container{
   padding-left: 18px;
   padding-top: 80px;
   padding-right: 18px;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
    width: clamp(180px, 16vw, 320px);
  }

  .header-category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(180px, 16vw, 320px);
  }
  .in-progress{
    width: clamp(180px, 16vw, 320px);
  }
}

@media (max-width: 1200px) {
  .subtask-input-container.disapear {
    display: none !important;
  }

  .subtask-input-container.show-hidden {
    display: block !important;
  }
}

@media (max-width: 1065px) {
  body {}

  .board {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .board-header h1 {
    margin-bottom: 0;
  }

  .button-task {
    content: url("../assets/img/plus add task mobile.svg");
    padding: 4px;
  }

  .in-progress {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .in-progress .header-category h3 {
    font-size: 26px;
    font-weight: 700;
  }

  .in-progress .header-category img {
    width: 30px;
    height: 30px;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
    overflow-x: auto;
    /* cursor: grabbing; */

    width: 100%;
  }

  .cards {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .board-container {
    padding: 50px 20px;
  }
}

@media (max-width: 450px) {
  .board-header h1 {
    font-size: 48px;
  }

  .button-task {
    width: 40px;
    height: 40px;
  }
}