.overlay-container .add-task-content {
  display: flex;
  padding: 40px;
}

.overlay-container .h1-content {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.overlay-body .main-content {
  gap: 60px;
}

.overlay-body-task {
  padding: 10px 40px 10px 40px;
}

.overlay-container .card {
  max-width: 600px;
}

.overlay-container input,
.overlay-container select,
.overlay-container textarea {
  border: 1px solid #d1d5db;
}

.overlay-container .button-task {
  padding: 12px 24px;
  font-size: 1rem;
}

.overlay-container .overlay-header {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 0px solid #e0e0e0;
}

.overlay-container .overlay-content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  height: auto;
  min-height: 400px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  z-index: 10;
  border-radius: var(--radius-18);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s ease-out;
}

.overlay-container .footer-add-task .btn-priority-flex {
  display: flex;
}

.main-content {
  gap: clamp(8px, 2vw, 120px);
}

.Subtask-List {
  max-height: 160px;
  overflow: auto;
}

.footer-add-task {
  margin-top: calc(83vh - 90px - 750px);
}

@media (max-width: 1420px) {
  .overlay-body-task {
    padding: 0px
  }

  .overlay-container .add-task-content {
    padding: 35px;
  }

  .footer-add-task {
    margin-top: 0px;
  }
}

@media (max-width: 1400px) {
  .edit {
    margin-top: 0px !important;
    flex-direction: unset !important;
    margin-top: 42px !important;
    font-size: 48px;
    margin-bottom: 32px !important;
  }

  .h1-content {
    font-size: 32px;
  }
}

@media (max-width: 1080px) {
  .overlay-body-task {
    padding: 0px;
  }

  .overlay-body-task {
    padding: 0px;
  }

}

@media (max-width: 850px) {
  .required {
    display: none;
  }

  .footer-add-task {
    display: flex;
    justify-content: flex-end !important;
  }
}

@media (max-width: 800px) {
  .overlay-container .card {
    max-width: 500px;
  }
}

@media (max-width: 530px) {
  .overlay-container .add-task-content {
    padding: 1px;
  }
}

@media (max-width: 650px) {
  .overlay-container .card {
    max-width: 280px;
  }

  .overlay-container .add-task-content {
    padding: 15px;
  }

  .overlay-container .h1-content {
    display: flex;
    justify-content: space-between;
    min-width: 0px
  }

}

@media (max-width: 620px) {
  .footer-add-task.edit {
    justify-content: flex-end;
    padding-top: 0px;
  }
}

@media (max-width: 420px) {
  .overlay-container .add-task-content {
    padding-top: 16px;
  }

  .footer-add-task.edit {
    padding-top: 0px;
  }

  .wrapper-popup {
    padding-left: 0px;
    padding-right: 0px;
  }

  .btn-createTask {
    padding: 7px 13px;
  }
}