/* Responsive */

@media (max-width: 1200px) {
  .subtask-input-container.disapear {
    display: none !important;
  }

  .subtask-input-container.show-hidden {
    display: block !important;
  }
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  .board {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow-x: hidden;
  }

  .board-header h1 {
    margin-bottom: 0;
  }

  .button-task {
    content: url("../assets/img/plus add task mobile.svg");
    padding: 4px;
  }

  .in-progress {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
    /* overflow: visible; */
  }

  .in-progress .header-category h3 {
    font-size: 26px;
    font-weight: 700;
  }

  .in-progress .header-category img {
    width: 30px;
    height: 30px;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
  }

  .cardsContainer::-webkit-scrollbar {
    display: none;
  }

  .cards {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .board-container {
    padding: 50px 20px;
  }
}

@media (max-width: 450px) {
  .board-header h1 {
    font-size: 48px;
  }

  .button-task {
    width: 40px;
    height: 40px;
  }
}
/* @media (max-width: 865px) {
  .board {
    grid-template-columns: 1fr;
  }
  header {
    flex-direction: column;
    gap: 1rem;
  }
  .header-actions {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
} */
