.add-contact-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-contact-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: calc(100vw - 90%);
    transform: translate(100%, -50%);
    width: 80%;
    height: 70vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

.add-contact-overlay.slide-in {
    transform: translate(0, -50%);
}

.add-contact-overlay.slide-out {
    transform: translate(100%, -50%);
}

.add-contact-overlay .add-contact-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    background-color: rgba(42, 54, 71, 1);
    padding: 66px 48px;
    border-radius: 30px 0 0 30px;
}

.add-contact-overlay .add-contact-overview .join-logo-contact {
    width: 55px;
    height: 65px;
    margin-bottom: 12px;
}

.add-contact-overlay .add-contact-overview .join-logo-contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-contact-overlay .add-contact-overview .add-contact-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    align-items: stretch;
    width: 100%;
}

.add-contact-overlay .add-contact-overview .add-contact-text .add-contact-title {
    font-weight: 700;
    font-size: 54px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    margin: 0;
    display: block;
    letter-spacing: 0.08em;
}

.add-contact-overlay .add-contact-overview .add-contact-text .add-contact-subtitle {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 28px;
    width: 100%;
    margin: 0;
    display: block;
}

.add-contact-overlay .add-contact-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 30px 30px 0;
    padding: 48px 48px 80px 40px;
}

.add-contact-overlay .add-contact-container .close-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 48px;
    right: 48px;
    cursor: pointer;
    transition: all 125ms ease;
}

.add-contact-overlay .add-contact-container .close-btn:hover {
    background-color: #eeeeee;
    border-radius: 50%;
    border: none;
    outline: none;
}

.add-contact-overlay .add-contact-container .close-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-contact-overlay .add-contact-container .add-contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    margin-top: 48px;
}

.add-contact-overlay .add-contact-container .add-contact-form .add-contact-badge {
    margin-bottom: 40px;
    width: 120px;
    height: 120px;
}

.add-contact-overlay .add-contact-container .add-contact-form .add-contact-badge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .inputContainer {
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 22px;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .inputContainer input::placeholder {
    font-size: 18px;
    color: rgba(209, 209, 209, 1);
    font-weight: 400;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .inputContainer input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .inputContainer:focus-within {
    border: 1px solid #29abe2;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .add-contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    margin-top: 10px;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .add-contact-buttons button {
    height: 54px;
    transition: all 125ms linear;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .add-contact-buttons .secondary-btn-default-icon img {
    content: url('../assets/img/add-contact-close-button.svg');
    width: 24px;
    height: 24px;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .add-contact-buttons .primary-btn-default-icon:hover {
    border: 1px solid #29abe2;
    border-radius: 10px;
    padding: 12px;
    background-color: #29abe2;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .add-contact-buttons .secondary-btn-default-icon:hover {
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 18px;
    background-color: #ffffff;
    border: 2px solid #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #29abe2;
    cursor: pointer;
}

.add-contact-overlay .add-contact-container .add-contact-form .contactForm .add-contact-buttons .secondary-btn-default-icon:hover img {
    content: url('../assets/img/add-contact-cancel-hover.svg');
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}