@media (max-width: 991px) {
  .main {
    padding: 20px;
  }

  .animate-bg-mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* z-index: 999; */
    animation: BackgroundFadeOut 2s ease-in forwards;
    background-color: rgba(42, 54, 71, 1);
    /* display: block !important; */
  }
  .image-sequence {
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
  }
  .animate-logo {
    animation: logoMove 1s cubic-bezier(0.37, 0.09, 0.93, 0.64) forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animate-logo img {
    /* content: url("/assets/img/Logo-Login-Mobile.svg"); */
    animation:
      logoResize 1s ease-out forwards,
      logoChangeImg 1s ease-out forwards;
  }

  @keyframes BackgroundFadeOut {
    from {
      background-color: rgba(42, 54, 71, 1);
      opacity: 1; /* Start at full visibility */
    }
    to {
      background-color: rgba(42, 54, 71, 1);
      opacity: 0; /* Start at full transparency */
    }
  }

  @keyframes logoMove {
    0% {
      background: transparent;
      box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    50% {
      background: transparent;
      box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 1);
    }
    80% {
      background: transparent;
      box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 0.8);
    }
    100% {
      background: transparent;
      box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 0);
      top: 20px;
      left: 20px;
      transform: translate(0, 0);
    }
  }

  @keyframes logoResize {
    0% {
      width: 260px;
    }

    100% {
      width: 70px;
    }
  }

  @keyframes logoChangeImg {
    0% {
      content: url("/assets/img/Logo-Login-Mobile.svg");
    }

    100% {
      content: url("/assets/img/Logo-logged-in-mobile.svg");
    }
  }
}

@media (max-width: 540px) {
  .main {
    padding: 0px 10px 0px 10px;
  }
}
