#login-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background: #f6f7f8; */
}

/* .body-div {
  
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* CSS Header */
#login-header {
  width: 100%;
  max-width: 1920px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
/* .header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px 40px;
} */

#login-header .logo {
  width: auto;
  height: 140px;
}

#login-header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#login-header .auth-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  margin-top: 10px;
}

.auth-nav-mobile {
  visibility: hidden;
  /* display: none; */
}

.signup-btn,
.login-btn,
.guest-btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.signup-btn {
  padding: 12px 24px;
  background: #2a3647;
  color: white;
  font-size: 16px;
  transition: all 75ms linear;
}

.signup-btn:hover {
  background: #29abe2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* CSS Main section */

#login-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100%;
  height: calc(100% - 70px);
  padding: 20px 20px 90px 20px;
}

#login-main .login-container {
  background: white;
  padding: 48px 100px;
  /* padding: 60px 40px; */
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  text-align: center;
  /* width: 472px; */
  /* width: 600px; */
}

#login-main .login-container h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
}

#login-main .login-container .underline {
  width: 120px;
  height: 3px;
  background: #29abe2;
  margin: 0 auto 40px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px 50px 15px 20px;
  border: 1px solid #d1d7e5;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.input-group input:focus {
  border-color: #29abe2;
}

/* .input-group input[type="email"].error,
.input-group input[type="password"].error {
  border-color: rgba(230, 0, 38, 1);
} */

.error-msg {
  color: #e60026;
  font-size: 14px;
  margin-bottom: 15px;
  visibility: hidden;
}

/* .error-msg.d-none {
  display: none;
} */

/* .input-group input.error,
.input-group input.error:focus {
  border-color: rgba(230, 0, 38, 1);
} */

.input-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
}

.login-btn {
  padding: 12px 30px;
  background: #2a3647;
  color: white;
  font-size: 18px;
  transition: all 75ms linear;
}

.login-btn:hover {
  background: #29abe2;
  transform: translateY(-2px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.login-btn.error:hover {
  background: #ff4444;
}

.guest-btn {
  padding: 12px 30px;
  background: white;
  color: #2a3647;
  border: 1px solid #2a3647;
  font-size: 18px;
  transition: all 75ms linear;
}

.guest-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  transform: translateY(-2px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#login-footer {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 70px;
}

#login-footer .footer-link {
  color: #a8a8a8;
  text-decoration: none;
  font-size: 16px;
  line-height: 35px;
}

.footer-link:hover {
  color: #29abe2;
  font-weight: 700;
}

.image-sequence {
  position: fixed;
  z-index: 1000;
  background: #f6f7f800;
  border-radius: 20px;
  padding: 20px;
}

.animate-logo {
  animation: logoMove 1s cubic-bezier(0.37, 0.09, 0.93, 0.64) forwards;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate-logo img {
  animation: logoResize 1s ease-out forwards;
}

@keyframes logoMove {
  0% {
    background: #f6f7f8;
    box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    background: #f6f7f8;
    box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 1);
  }
  80% {
    background: #f6f7f8;
    box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 0.8);
  }
  100% {
    background: transparent;
    box-shadow: 0 0 0 9000vmax rgba(246, 247, 248, 0);
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
  }
}

@keyframes logoResize {
  0% {
    height: 380px;
  }

  100% {
    height: 140px;
  }
}

.logo.hidden {
  visibility: hidden;
}

.bgAnimationMobile.d-none {
  display: none;
}
