@media (max-width: 991px) {
  .main {
    padding: 20px;
  }
  .auth-nav {
    display: none;
  }

  .auth-nav-mobile {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;
  }

  .animate-bg-mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: BackgroundFadeOut 3s ease-out forwards;
    background-color: rgba(42, 54, 71, 1);
    /* display: block !important; */
  }

  @keyframes BackgroundFadeOut {
    from {
      opacity: 1; /* Start at full visibility */
    }
    to {
      opacity: 0; /* Start at full transparency */
    }
  }

  .animate-logo {
    animation: logoMove 1s cubic-bezier(0.37, 0.09, 0.93, 0.64) forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animate-logo-mobile img {
    animation:
      logoResize 1s ease-out forwards,
      logoChangeImg 1s ease-out forwards;
  }

  @keyframes logoMove {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    100% {
      top: 20px;
      left: 20px;
      transform: translate(0, 0);
    }
  }

  @keyframes logoResize {
    0% {
      width: 260px;
    }

    100% {
      width: 70px;
    }
  }

  @keyframes logoChangeImg {
    0% {
      content: url("../assets/img/Logo-Login-Mobile.svg");
    }

    100% {
      content: url("../assets/img/Logo-logged-in-mobile.svg");
    }
  }
}

@media (max-width: 768px) {
  .main {
    padding: 20px;
  }

  .login-container {
    padding: 48px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-form .input-group {
    width: 90%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 20px;
  }

  .login-container {
    padding: 48px 24px;
  }

  .login-container h1 {
    font-size: 46px;
  }
  .login-form .input-group {
    width: 100%;
  }

  .auth-nav-mobile {
    gap: 10px;
    font-size: 14px;
  }
}
