/*Bitte nicht machen sonst bei allein seiten unterschiedlich*/
/*Bitte CSS dateien einzeln ins Html einbauen*/
@import url(standard.css);
@import url(header.css);
@import url(sidebar-style.css);
@import url(add-task.css);
@import url(contact-predefinedClasses.css);
@import url(contacts.css);
@import url(contacts-overlay.css);
@import url(contacts-edit-overlay.css);
@import url(summary-user.css);