main {
    align-items: flex-start !important;
}

.headline {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.histore-back-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;

}

.histore-back-arrow:hover {
    background-color: #afb3bb3b;

}

.datenschutz-container {
    max-width: 900px;
}

.datenschutz-container h1 {
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}

.datenschutz-container h2 {
    color: black;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.datenschutz-container p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.datenschutz-container ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.datenschutz-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.datenschutz-container th,
.datenschutz-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.datenschutz-container th {
    background-color: #49aae1;
    color: #fff;
}

.datenschutz-container a {
    color: #29ABE2;
    text-decoration: none;
}

.datenschutz-container a:hover {
    text-decoration: underline;
}

@media screen {
    
}