.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 0;
}

.frame1 {
    padding: 0 64px 64px;
}

.frame1 .logo {
    width: 100px;
    height: auto;
}

.frame1 .logo img {
    width: 100%;
    height: 100%;
}

.frame2 {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.frame2 .sideMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.frame2 a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    padding: 8px 60px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #cdcdcd;
    transition: all 200ms linear;
    box-sizing: border-box;
}

.frame2 a:hover {
    background-color: #2A3D59;
}

.frame2 a.active {
    background-color: #091931;
    color: #ffffff;
    font-weight: 400;
}

.frame2 a img {
    width: 25px;
    height: 25px;
}

.frame3 {
    width: 230px;
    display: flex;
}

.frame3 .footerMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.frame3 .footerMenu a {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #a8a8a8;
    padding: 8px 60px;
    transition: color 200ms linear;
}

.frame3 .footerMenu a:hover {
    color: #29ABE2;
    font-weight: 700;
}

.frame3 .footerMenu a.current {
    background-color: #091931;
}