body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
}
.back-arrow{
  display: flex;
    position: relative;
    top: 35px;
    right: 230px;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
}

.back-arrow:hover{
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 100%;
transform: scale(1.12)
}

.signup-container{
    height: 515px;
    width: 100%;
    max-width: 560px;
    background-color: #FFFFFF;
    border-radius: 3%;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.signup-heading h1{
    font-size: 50px;
    margin-bottom: 5px;
}
.seperator{
    height: 2px;
    width: 110px;
    background-color: #29ABE2;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 315px;
    width: 100%;
}

input {
    padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
    }

    .checkbox-group{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
    }

.button_container{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

button {
      padding: 10px;
      background-color: #2A3647;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      width: 100px;
      height: 45px;
    }

    button:hover {
      background-color: #29ABE2;
    }


    .input-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-icon svg {
  position: absolute;
  left: 280px;
  width: 18px;
  height: 18px;
  pointer-events: none; /* verhindert Klickprobleme */
}

.input-icon input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}