@media (max-width: 991px) {
  /* #sign-up-header .header-img {
    max-width: 70px;
    margin-left: 0;
    margin-top: 0;
  } */

  .signup-heading h1 {
    font-size: 45px;
  }
  /* form {
    width: 90%;
  } */
}

@media (max-width: 767px) {
  #sign-up-header {
    padding: 20px 40px;
  }
  #sign-up-header .header-img {
    max-width: 70px;
    margin-left: 0;
    margin-top: 0;
  }
  #sign-up-main-page .content {
    padding: 20px;
  }
  .signup-container {
    padding: 40px 20px;
  }
  .signup-heading h1 {
    font-size: 40px;
  }
  form {
    width: 90%;
  }

  #error-message {
    font-size: 12px;
    visibility: hidden;
  }
}

@media (max-width: 450px) {
  #sign-up-main-page {
    padding: 20px 0 90px 0;
  }
  #sign-up-header .header-img {
    max-width: 70px;
    margin-left: 0;
    margin-top: 0;
  }
  .signup-heading h1 {
    font-size: 36px;
  }
  .signup-heading .seperator {
    width: 70px;
  }

  .input-icon {
    padding: 4px;
  }
  form {
    width: 100%;
  }
  .back-arrow {
    top: 65px;
    left: 30px;
  }
}

@media (max-width: 400px) {
  .signup-container {
    padding: 40px 10px;
  }
  .signup-heading h1 {
    font-size: 32px;
  }

  .checkbox-group label {
    gap: 5px;
  }

  .checkbox-group label a {
    font-size: 12px;
  }

  .checkbox-group label span {
    font-size: 12px;
  }

  .back-arrow {
    width: 20px;
    height: 20px;
    top: 65px;
    left: 15px;
  }
  #privacy-policy {
    font-size: 12px;
  }
}
