@media (max-width: 991px) {
  main {
    padding: 20px;
  }

  .summary-div .summary-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 35px;
  }
  .summary-title .seperator {
    height: 3px;
    width: 100px;
    background-color: rgba(41, 171, 226, 1);
    order: 3;
  }

  .summary-overview .boxContainer .overview-box-items {
    padding: 32px 32px;
  }
  .summary-main-board .welcome-user {
    display: none;
  }

  .welcome-animation {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .welcomeMsg {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .signedUser {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
  }
}

@media (max-width: 572px) {
  main {
    padding: 20px;
  }

  .summary-div .summary-title .main-title {
    font-size: 48px;
  }

  .summary-div .summary-title .second-title {
    font-size: 22px;
  }
  .summary-title .seperator {
    height: 3px;
    width: 100px;
    background-color: rgba(41, 171, 226, 1);
    order: 3;
  }

  .summary-overview {
    gap: 15px;
  }

  .summary-overview .boxContainer {
    gap: 15px;
  }

  .summary-overview .boxContainer .overview-box-items {
    padding: 32px 16px;
    gap: 18px;
  }

  .overview-box-items.box-1 .task-number span,
  .overview-box-items.box-2 .task-number span,
  .overview-box-items.box-3 .left-box .urgent-task span,
  .overview-box-items.box-4 span,
  .overview-box-items.box-5 span,
  .overview-box-items.box-6 span {
    font-size: 34px;
  }

  .overview-box-items.box-1 .task-number .tasks-text,
  .overview-box-items.box-2 .task-number .tasks-text,
  .overview-box-items.box-3 .task-number .tasks-text,
  .overview-box-items.box-4 .tasks-text,
  .overview-box-items.box-5 .tasks-text,
  .overview-box-items.box-6 .tasks-text {
    font-size: 16px;
    /* font-size: 14px; */
  }

  .overview-box-items img {
    width: 40px;
    height: 40px;
  }
  .summary-main-board .welcome-user {
    display: none;
  }

  .welcome-animation {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .welcomeMsg {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .signedUser {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
  }
}

@media (max-width: 450px) {
  main {
    padding: 20px;
  }

  .summary-div .summary-title .main-title {
    font-size: 38px;
  }

  .summary-div .summary-title .second-title {
    font-size: 18px;
  }
  .summary-title .seperator {
    height: 3px;
    width: 85px;
    background-color: rgba(41, 171, 226, 1);
    order: 3;
  }

  .summary-overview .boxContainer .overview-box-items {
    padding: 24px 8px;
    gap: 12px;
  }

  .overview-box-items.box-1 .task-number span,
  .overview-box-items.box-2 .task-number span,
  .overview-box-items.box-3 .left-box .urgent-task span,
  .overview-box-items.box-4 span,
  .overview-box-items.box-5 span,
  .overview-box-items.box-6 span {
    font-size: 24px;
  }

  .overview-box-items.box-1 .task-number .tasks-text,
  .overview-box-items.box-2 .task-number .tasks-text,
  .overview-box-items.box-3 .task-number .tasks-text,
  .overview-box-items.box-4 .tasks-text,
  .overview-box-items.box-5 .tasks-text,
  .overview-box-items.box-6 .tasks-text {
    font-size: 16px;
    /* font-size: 12px; */
  }

  .summary-overview .boxContainer .overview-box-items img {
    width: 30px;
    height: 30px;
  }
  .overview-box-items.box-3 {
    gap: 16px;
  }

  .overview-box-items.box-3 .right-box .urgency-date {
    /* font-size: 14px; */
    font-size: 16px;
  }

  .left-box {
    gap: 12px;
  }
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .welcomeMsg {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .signedUser {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgba(41, 171, 226, 1);
  }
}
