main {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding: 80px 50px 50px 80px;
}

.summary-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.summary-div .summary-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.summary-div .summary-main-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.main-title {
  font-size: 60px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.seperator {
  width: 3px;
  height: 100%;
  background-color: rgba(41, 171, 226, 1);
}

.second-title {
  font-size: 24px;
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
}

.summary-overview {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}

.boxContainer {
  height: 160px;
  flex: 1;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 25px;
  width: 100%;
}

.overview-box-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  gap: 24px;
  flex: 1;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.overview-box-items img {
  width: 50px;
  height: 50px;
}

.overview-box-items.box-1:hover,
.overview-box-items.box-2:hover {
  transform: scale(1.1);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  .task-number span,
  .task-number .tasks-text {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-box-items.box-1:hover img {
  content: url(../assets/img/summary-edit-hovered.svg);
}

.overview-box-items.box-2:hover img {
  content: url(../assets/img/summary-done-hovered.svg);
}

.overview-box-items.box-3:hover {
  transform: scale(1.08);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  .left-box .urgent-task span,
  .left-box .urgent-task .tasks-text,
  .right-box h4,
  .right-box h5 {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-box-items.box-4:hover,
.overview-box-items.box-5:hover,
.overview-box-items.box-6:hover {
  transform: scale(1.1);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.overview-box-items.box-4:hover span,
.overview-box-items.box-5:hover span,
.overview-box-items.box-6:hover span,
.overview-box-items.box-4:hover .tasks-text,
.overview-box-items.box-5:hover .tasks-text,
.overview-box-items.box-6:hover .tasks-text {
  color: rgba(255, 255, 255, 1);
}

.task-number,
.urgent-task,
.overview-box-items.box-4,
.overview-box-items.box-5,
.overview-box-items.box-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.boxContainer span {
  font-size: 42px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.boxContainer h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
}

.boxContainer h5 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
}

.overview-box-items.box-3 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.left-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.overview-box-items.box-3 .box-seprator {
  width: 2px;
  background-color: rgba(209, 209, 209, 1);
  height: 80px;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.right-box .urgency-date {
  font-weight: 700;
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
}

.overview-box-items.box-4 span,
.overview-box-items.box-5 span,
.overview-box-items.box-6 span {
  font-size: 38px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.welcome-user {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcoming-message {
  font-size: 34px;
  font-weight: 500;
  color: rgba(42, 54, 71, 1);
}

.user-name {
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
  font-size: 42px;
}

.welcome-page {
  display: none !important;
}

/* Animation styles for guest login */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-animation {
  animation: fadeIn 2s ease-in;
  display: block !important;
}

.fade-in {
  animation: fadeIn 125ms ease-in;
}

/* @media (max-width: 1500px) {
  main {
    padding: 80px 50px 50px 80px;
  }
  .summary-div .summary-main-board {
    gap: 50px;
  }

  .summary-div .summary-main-board .welcome-user .welcoming-message {
    font-size: 32px;
  }
} */

@media (max-width: 991px) {
  main {
    padding: 20px;
  }

  .summary-div .summary-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 35px;
  }
  .summary-title .seperator {
    height: 3px;
    width: 100px;
    background-color: rgba(41, 171, 226, 1);
    order: 3;
  }

  .summary-overview .boxContainer .overview-box-items {
    padding: 32px 32px;
  }
  .summary-main-board .welcome-user {
    display: none;
  }

  .welcome-animation {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .welcomeMsg {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .signedUser {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
  }
}

@media (max-width: 572px) {
  main {
    padding: 20px;
  }

  .summary-div .summary-title .main-title {
    font-size: 48px;
  }

  .summary-div .summary-title .second-title {
    font-size: 22px;
  }
  .summary-title .seperator {
    height: 3px;
    width: 100px;
    background-color: rgba(41, 171, 226, 1);
    order: 3;
  }

  .summary-overview {
    gap: 15px;
  }

  .summary-overview .boxContainer {
    gap: 15px;
  }

  .summary-overview .boxContainer .overview-box-items {
    padding: 32px 16px;
    gap: 18px;
  }

  .overview-box-items.box-1 .task-number span,
  .overview-box-items.box-2 .task-number span,
  .overview-box-items.box-3 .left-box .urgent-task span,
  .overview-box-items.box-4 span,
  .overview-box-items.box-5 span,
  .overview-box-items.box-6 span {
    font-size: 34px;
  }

  .overview-box-items.box-1 .task-number .tasks-text,
  .overview-box-items.box-2 .task-number .tasks-text,
  .overview-box-items.box-3 .task-number .tasks-text,
  .overview-box-items.box-4 .tasks-text,
  .overview-box-items.box-5 .tasks-text,
  .overview-box-items.box-6 .tasks-text {
    font-size: 14px;
  }

  .overview-box-items img {
    width: 40px;
    height: 40px;
  }
  .summary-main-board .welcome-user {
    display: none;
  }

  .welcome-animation {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .welcomeMsg {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .signedUser {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
  }
}

@media (max-width: 450px) {
  main {
    padding: 20px;
  }

  .summary-div .summary-title .main-title {
    font-size: 38px;
  }

  .summary-div .summary-title .second-title {
    font-size: 18px;
  }
  .summary-title .seperator {
    height: 3px;
    width: 85px;
    background-color: rgba(41, 171, 226, 1);
    order: 3;
  }

  .summary-overview .boxContainer .overview-box-items {
    padding: 24px 8px;
    gap: 12px;
  }

  .overview-box-items.box-1 .task-number span,
  .overview-box-items.box-2 .task-number span,
  .overview-box-items.box-3 .left-box .urgent-task span,
  .overview-box-items.box-4 span,
  .overview-box-items.box-5 span,
  .overview-box-items.box-6 span {
    font-size: 24px;
  }

  .overview-box-items.box-1 .task-number .tasks-text,
  .overview-box-items.box-2 .task-number .tasks-text,
  .overview-box-items.box-3 .task-number .tasks-text,
  .overview-box-items.box-4 .tasks-text,
  .overview-box-items.box-5 .tasks-text,
  .overview-box-items.box-6 .tasks-text {
    font-size: 12px;
  }

  .summary-overview .boxContainer .overview-box-items img {
    width: 30px;
    height: 30px;
  }
  .overview-box-items.box-3 {
    gap: 16px;
  }

  .overview-box-items.box-3 .right-box .urgency-date {
    font-size: 14px;
  }

  .left-box {
    gap: 12px;
  }
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .welcomeMsg {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .signedUser {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgba(41, 171, 226, 1);
  }
}

/* .summary-div {
  display: flex;
  flex-direction: column;
}

.summary-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.summary-title .seperator {
  width: 3px;
  height: 100%;
  background-color: rgba(41, 171, 226, 1);
}

.main-title {
  font-size: 54px;

  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  margin: 0;
}

.second-title {
  font-size: 24px;
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  margin: 0;
}

.summary-main-board {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.summary-overview {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 20px;
}

.summary-overview .overview-box-items {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  height: 160px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 150ms ease,
    background-color 150ms ease,
    box-shadow 150ms ease;
}

.overview-box-items.box-1,
.overview-box-items.box-2 {
  width: 240px;
  padding: 30px 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  transition: all 150ms ease-in-out;
  .task-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 52px;
      font-weight: 600;
      color: rgba(0, 0, 0, 1);
    }
    .tasks-text {
      font-size: 20px;
      font-weight: 400;
      color: rgba(42, 54, 71, 1);
    }
  }
}

.overview-box-items.box-1:hover,
.overview-box-items.box-2:hover {
  transform: scale(1.1);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  .task-number span,
  .task-number .tasks-text {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-box-items.box-1:hover img {
  content: url(../assets/img/summary-edit-hovered.svg);
}

.overview-box-items.box-2:hover img {
  content: url(../assets/img/summary-done-hovered.svg);
}

.overview-box-items.box-3 {
  padding: 28px 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;

  align-items: center;
  width: 100%;
  transition: all 150ms ease-in-out;
  .left-box {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
    .urgent-task {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 52px;

        font-weight: 600;
        color: rgba(0, 0, 0, 1);
      }
      .tasks-text {
        font-size: 20px;
        font-weight: 400;
        color: rgba(42, 54, 71, 1);
      }
    }
  }
  .box-seprator {
    width: 2px;
    height: 80px;
    background-color: rgba(209, 209, 209, 1);
  }
  .right-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    h4 {
      font-size: 20px;
      font-weight: 700;
      color: rgba(42, 54, 71, 1);
    }
    h5 {
      font-size: 16px;
      font-weight: 400;
      color: rgba(42, 54, 71, 1);
    }
  }
}

.overview-box-items.box-3:hover {
  transform: scale(1.08);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  .left-box .urgent-task span,
  .left-box .urgent-task .tasks-text,
  .right-box h4,
  .right-box h5 {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-box-items.box-4,
.overview-box-items.box-5,
.overview-box-items.box-6 {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 160px;
  transition: all 150ms ease-in-out;
  span {
    font-size: 52px;

    font-weight: 600;
    color: rgba(0, 0, 0, 1);
  }
  .tasks-text {
    font-size: 20px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
  }
}

.overview-box-items.box-4:hover,
.overview-box-items.box-5:hover,
.overview-box-items.box-6:hover {
  transform: scale(1.1);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.overview-box-items.box-4:hover span,
.overview-box-items.box-5:hover span,
.overview-box-items.box-6:hover span,
.overview-box-items.box-4:hover .tasks-text,
.overview-box-items.box-5:hover .tasks-text,
.overview-box-items.box-6:hover .tasks-text {
  color: rgba(255, 255, 255, 1);
}

.summary-main-board .welcome-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .welcoming-message {
    font-size: 40px;
    font-weight: 500;
    color: rgba(42, 54, 71, 1);
    margin-bottom: 20px;
  }
  .user-name {
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
  }
} */

/* .welcome-page {
  display: none !important;
} */

/* Animation styles for guest login */

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-animation {
  animation: fadeIn 2s ease-in;
  display: block !important;
}

.fade-in {
  animation: fadeIn 125ms ease-in;
} */

/* Mobile welcome animation styles */

/* @media (max-width: 991px) {
} */
