main {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding: 80px 50px 50px 80px;
}

.summary-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.summary-div .summary-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.summary-div .summary-main-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.main-title {
  font-size: 60px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.seperator {
  width: 3px;
  height: 100%;
  background-color: rgba(41, 171, 226, 1);
}

.second-title {
  font-size: 24px;
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
}

.summary-overview {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}

.boxContainer {
  height: 160px;
  flex: 1;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 25px;
  width: 100%;
}

.overview-box-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  gap: 24px;
  flex: 1;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.overview-box-items img {
  width: 50px;
  height: 50px;
}

.overview-box-items.box-1:hover,
.overview-box-items.box-2:hover {
  transform: scale(1.1);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  .task-number span,
  .task-number .tasks-text {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-box-items.box-1:hover img {
  content: url(../assets/img/summary-edit-hovered.svg);
}

.overview-box-items.box-2:hover img {
  content: url(../assets/img/summary-done-hovered.svg);
}

.overview-box-items.box-3:hover {
  transform: scale(1.08);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  .left-box .urgent-task span,
  .left-box .urgent-task .tasks-text,
  .right-box h4,
  .right-box h5 {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-box-items.box-4:hover,
.overview-box-items.box-5:hover,
.overview-box-items.box-6:hover {
  transform: scale(1.1);
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.overview-box-items.box-4:hover span,
.overview-box-items.box-5:hover span,
.overview-box-items.box-6:hover span,
.overview-box-items.box-4:hover .tasks-text,
.overview-box-items.box-5:hover .tasks-text,
.overview-box-items.box-6:hover .tasks-text {
  color: rgba(255, 255, 255, 1);
}

.task-number,
.urgent-task,
.overview-box-items.box-4,
.overview-box-items.box-5,
.overview-box-items.box-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.boxContainer span {
  font-size: 42px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.boxContainer h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
}

.boxContainer h5 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
}

.overview-box-items.box-3 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.left-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.overview-box-items.box-3 .box-seprator {
  width: 2px;
  background-color: rgba(209, 209, 209, 1);
  height: 80px;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.right-box .urgency-date {
  font-weight: 700;
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
}

.overview-box-items.box-4 span,
.overview-box-items.box-5 span,
.overview-box-items.box-6 span {
  font-size: 38px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.welcome-user {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcoming-message {
  font-size: 34px;
  font-weight: 500;
  color: rgba(42, 54, 71, 1);
}

.user-name {
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
  font-size: 42px;
}

.welcome-page {
  display: none !important;
}

/* Animation styles for guest login */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-animation {
  animation: fadeIn 2s ease-in;
  display: block !important;
}

.fade-in {
  animation: fadeIn 125ms ease-in;
}
